<a href="https://colab.research.google.com/github/Hertoli/HandConnect/blob/main/practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imprime tu nombre en pantalla.

In [ ]:
print (f"Estrella")

Estrella

Imprime un saludo personalizado, como "Hola, María".

In [ ]:
print (f'"Hola,María".')

"Hola,María".

Imprime tu nombre y apellido en líneas separadas.

In [ ]:
print (f"Estrella\nHernandez")

Estrella
Hernandez

 Imprime tu nombre con un borde decorativo de *.

In [ ]:
print (f"*Estrella*.")

*Estrella*.

Imprime el mensaje "Bienvenido al curso de Python".

In [ ]:
print (f'"Bienvenido al curso de Python".')

"Bienvenido al curso de Python".

Imprime la fecha y hora actual junto con un mensaje.

In [ ]:
print (f"La fecha actual es 12/02/2025 y la hora 23:12 pm")

La fecha actual es 12/02/2025 y la hora 23:12 pm

Imprime "Hola, mundo" en mayúsculas.

In [ ]:
texto = "Hola, mundo"
texto_mayusculas = texto.upper()
print(texto_mayusculas)  # Salida: HOLA, MUNDO

HOLA, MUNDO

 Imprime "Este es mi primer programa en Python".

In [ ]:
print ("Este es mi primero pograma en Python")

Este es mi primero pograma en Python

Imprime una cita famosa y su autor.

In [ ]:
cita = '"La imaginación es más importante que el conocimiento." '
autor = "- Albert Einstein"

print(cita + autor)

"La imaginación es más importante que el conocimiento." - Albert Einstein

 Imprime un mensaje que combine texto y un número (por ejemplo, "Tengo 25 años").

In [ ]:
print (f"Tengo 25 años")

Tengo 25 años

In [ ]:
edad = 25
print("Tengo " + str(edad) + " años")

Tengo 25 años

Solicita dos números y muestra la suma.

In [ ]:
num1 = float(input("Ingrese el primer numero: "))
num2 = float(input("Ingrese el segundo numero: "))

suma = (num1 + num2)

print(f"La suma es {suma}")

Ingrese el primer numero: 23
Ingrese el segundo numero: 1
La suma es 24.0

 Solicita dos números y muestra la resta (primero menos segundo).

In [ ]:
num1 = float(input("Ingrese el primer numero: "))
num2 = float(input("Ingrese el segundo numero: "))

resta = (num1 - num2)

print (f"La resta es: {resta}")

Ingrese el primer numero: 24
Ingrese el segundo numero: 12
La resta es: 12.0

Solicita dos números y muestra la multiplicación.

In [ ]:
num1 = float(input("Ingrese el primer numero: "))
num2 = float(input("Ingrese el segundo numero: "))

multiplicacion = (num1 * num2)

print (f"La multiplicacion es: {multiplicacion}")

Ingrese el primer numero: 12
Ingrese el segundo numero: 3
La multiplicacion es: 36.0

 Solicita dos números y muestra la división (considera que el divisor no sea cero).

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

divisionentero = num1 // num2
divisionfloat = num1 / num2
divisionresto = num1 % num2

print (f"{divisionentero}, {divisionfloat}, {divisionresto}")

Ingrese el primer numero: 12
Ingrese el segundo numero: 5
2, 2.4, 2

 Solicita dos números y muestra el resultado de elevar el primero al segundo (x^y).

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

elevar = num1 ** num2
print(f"El resultado de elevar {num1} al {num2} es: {elevar}")

Ingrese el primer numero: 2
Ingrese el segundo numero: 4
El resultado de elevar 2 al 4 es: 16

Solicita dos números y muestra el residuo de la división (%)

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

residuo = num1 % num2
print (f"El residuo de la division es: {residuo}")

Ingrese el primer numero: 12
Ingrese el segundo numero: 5
El residuo de la division es: 2

 Solicita dos números y muestra el resultado de la división entera (//).

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

division = num1 // num2
print(f"El resultado de la division es: {division}")

Ingrese el primer numero: 12
Ingrese el segundo numero: 7
El resultado de la division es: 1

Solicita dos números y muestra la suma, resta, multiplicación y división en una sola línea.

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2

print (f"La suma de los dos numeros es: {suma} , y la resta {resta} , la multiplicacion {multiplicacion }, division es: {division}")

Ingrese el primer numero: 12
Ingrese el segundo numero: 67
La suma de los dos numeros es: 79 , y la resta -55 , la multiplicacion 804, division es: 0.1791044776119403

 Solicita dos números y muestra el doble de su suma.

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

doble = (num1 + num2)*2
print (f"El doble de la suma es: {doble}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 6
El doble de la suma es: 18

Solicita dos números y muestra el promedio de ambos.

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

promedio = (num1 + num2)/2

print (f"El promedio de los dos numero es: {promedio}")

Ingrese el primer numero: 127
Ingrese el segundo numero: 56
El promedio de los dos numero es: 91.5

 Convierte 25°C a Fahrenheit y muestra el resultado.

In [ ]:
centigrados = 40
fahrenheit = (9/5 * centigrados) + 32

print (f"El resultado de convertir {centigrados} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir 40 °C a fahrenheit es : 104.0

 Convierte 0°C a Fahrenheit y muestra el resultado.

In [ ]:
centigrados = 0
fahrenheit = (9/5 * centigrados) + 32

print (f"El resultado de convertir {centigrados} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir 0 °C a fahrenheit es : 32.0

Convierte -10°C a Fahrenheit y muestra el resultado

In [ ]:
centigrados = -10
fahrenheit = (9/5 * centigrados) + 32

print (f"El resultado de convertir {centigrados} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir -10 °C a fahrenheit es : 14.0

Pide al usuario un valor en Celsius y conviértelo a Fahrenheit.

In [ ]:
celsius = float(input("Ingrese temperatura en Celsius: "))
fahrenheit = (9/5 * celsius) + 32

print (f"El resultado de convertir {celsius} °C a fahrenheit es : {fahrenheit} ")

Ingrese temperatura en Celsius: 10
El resultado de convertir 10.0 °C a fahrenheit es : 50.0

 Pide al usuario una temperatura en Fahrenheit y conviértela a Celsius.

In [ ]:
fahrenheit = float(input("Ingrese temperatura en Celsius: "))
convertidor_celsius = (9/5 * fahrenheit) + 32

print (f"El resultado de convertir {fahrenheit} °F a Celsius es : {convertidor_celsius} ")

Ingrese temperatura en Celsius: 12
El resultado de convertir 12.0 °F a Celsius es : 53.6

Convierte 100°C (punto de ebullición del agua) a Fahrenheit.

In [ ]:
celsius = 100
fahrenheit = (9/5 * celsius) + 32

print (f"El resultado de convertir {celsius} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir 100 °C a fahrenheit es : 212.0

Convierte -273.15°C (cero absoluto) a Fahrenheit.

In [ ]:
celsius = -273.15
fahrenheit = (9/5 * celsius) + 32

print (f"El resultado de convertir {celsius} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir -273.15 °C a fahrenheit es : -459.66999999999996

Solicita varias temperaturas en Celsius y muestra sus equivalentes en Fahrenheit

In [ ]:
# Solicitar al usuario la cantidad de temperaturas a convertir
num_temps = int(input("¿Cuántas temperaturas en Celsius desea convertir? "))

# Crear una lista para almacenar las temperaturas en Celsius
temps_celsius = []

# Usar un bucle for para solicitar cada temperatura y añadirla a la lista
for i in range(num_temps):
    temp = float(input(f"Ingrese la temperatura {i + 1} en Celsius: "))
    temps_celsius.append(temp)

# Imprimir un encabezado para la tabla de conversión
print("\nCelsius | Fahrenheit")
print("-------|-----------")

# Usar un bucle for para convertir cada temperatura y mostrar el resultado
for temp_celsius in temps_celsius:
    fahrenheit = (9/5 * temp_celsius) + 32
    print(f"{temp_celsius:7.2f} | {fahrenheit:10.2f}")

¿Cuántas temperaturas en Celsius desea convertir? 4
Ingrese la temperatura 1 en Celsius: 12
Ingrese la temperatura 2 en Celsius: 45
Ingrese la temperatura 3 en Celsius: 67
Ingrese la temperatura 4 en Celsius: 89

Celsius | Fahrenheit
-------|-----------
  12.00 |      53.60
  45.00 |     113.00
  67.00 |     152.60
  89.00 |     192.20

Convierte 37°C (temperatura del cuerpo humano) a Fahrenheit.

In [ ]:
celsius = 37
fahrenheit = (9/5 * celsius) + 32

print (f"El resultado de convertir {celsius} °C a fahrenheit es : {fahrenheit} ")

El resultado de convertir 37 °C a fahrenheit es : 98.60000000000001

 Pide al usuario la temperatura actual en Celsius y muestra un mensaje si hace frío, calor o está templado.
Muy frío: temperatura media anual inferior a 0 °C.
Frío: temperatura media anual entre 0 °C y 10 °C.
Templado: temperatura media anual entre 10 °C y 20 °C.
Cálido: temperatura media anual entre 20 °C y 25 °C.

In [ ]:
celsius = float(input("Ingrese temperatura en Celsius: "))

if  celsius < 10 :
  print ("Hace frio.")

elif celsius >=10 and celsius < 25:
  print ("Esta templado")

else :
  print ("Hace calor")

Ingrese temperatura en Celsius: 12
Esta templado

 Pide un número y muestra si es par o impar.

In [3]:
num = int(input("Ingrese un numero: "))
if num % 2 == 0 :
  print ("Es par")

else :
  print ("Es impar")

Ingrese un numero: 12
Es par

 Pide dos números e indica cuál de los dos es par y cuál impar.

In [ ]:
num1 = int(input("Ingresa el primer número: "))
num2 = int(input("Ingresa el segundo número: "))

if num1 % 2 == 0:
    print(f"{num1} es par")
else:
    print(f"{num1} es impar")

if num2 % 2 == 0:
    print(f"{num2} es par")
else:
    print(f"{num2} es impar")

Pide un número y verifica si es par o impar sin usar if, solo operadores.

In [5]:
num = int(input("Ingrese un número: "))

resultado = ["par", "impar"][num % 2]

print(f"El número {num} es {resultado}.")

Ingrese un número: 23
El número 23 es impar.

Genera un número aleatorio entre 1 y 100 y muestra si es par o impar.