<a href="https://colab.research.google.com/github/Hertoli/HandConnect/blob/main/practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Cual es tu edad?")
edad = input()
print("Tengo", edad, "años")

Cual es tu edad?
24
Tengo 24 años

In [ ]:
anything = input("Te estas esforzando?..")
print("Hmm...", anything, "lo estoy haciendo")

Te estas esforzando?..si
Hmm... si lo estoy haciendo

In [ ]:
anything = input("Ingresa un número:")
something = anything ** 2.0
print(anything, "al cuadrado es", something)

Ingresa un número:2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'

In [ ]:
anything = float(input("Ingresa un número: "))  # Convertir la entrada a número
something = anything ** 2.0  # Elevar al cuadrado
print(anything, "al cuadrado es", something)

Ingresa un número: 2
2.0 al cuadrado es 4.0

In [ ]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

In [ ]:
a = float(input("Ingresa el primer valor: "))
b = float(input("Ingresa el segundo valor: "))
print("Suma:", a + b)
print("Resta:", a - b)
print("Multiplicación:", a * b)
print("División:", a / b)
print("\n¡Eso es todo, amigos!")

Ingresa el primer valor: 3
Ingresa el segundo valor: 7
Suma: 10.0
Resta: -4.0
Multiplicación: 21.0
División: 0.42857142857142855

¡Eso es todo, amigos!

In [ ]:
hour = int(input("Hora de inicio (horas): "))
mins = int(input("Minuto de inicio (minutos): "))
dura = int(input("Duración del evento (minutos): "))
mins = mins + dura # encuentra el número total de minutos
hour = hour + mins // 60 # encuentra el número de horas ocultas en los minutos y actualiza las horas
mins = mins % 60 # corrige los minutos para que estén en un rango de (0..59)
hour = hour % 24 # corrige las horas para que estén en un rango de (0..23)
print(hour, ":", mins, sep='')

Hora de inicio (horas): 2
Minuto de inicio (minutos): 4
Duración del evento (minutos): 2
2:6

In [ ]:
name = input("Ingresa tu nombre: ")
print("Hola, " + name + ". ¡Un gusto conocerte!")

Ingresa tu nombre: Liliana
Hola, Liliana. ¡Un gusto conocerte!

In [ ]:
name = input("Ingresa tu nombre: ")
print("Hola, " + name + ". '¡Gusto en conocerte'!")

print("\nPresiona Enter para terminar el programa.")
input()
print("FIN.")

Ingresa tu nombre: Liliana
Hola, Liliana. '¡Gusto en conocerte'!

Presiona Enter para terminar el programa.

FIN.

In [ ]:
num_1 = input("Ingresa el primer número: ") # Ingresa 12
num_2 = input("Ingresa el segundo número: ") # Ingresa 21

print(num_1 + num_2) # El programa retorna 1221

Ingresa el primer número: 12
Ingresa el segundo número: 21
1221

In [ ]:
my_input = input("Ingresa algo: ") # Entrada de ejemplo: hola
print(my_input * 3) # Salida Esperada: holahola

Ingresa algo: hola
holaholahola

In [ ]:
x = int(input("Ingresa un número: ")) # El usuario ingresa un 2
print(x * "5")

Ingresa un número: 2
55

In [ ]:
num = int(input("Ingresa un número: "))
if num % 2 == 0:
    print(f"{num} es un número par")
else:
    print(f"{num} es un número impar")

Ingresa un número: 3
3 es un número impar

In [ ]:
num = int(input("Ingresa un número: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Ingresa un número: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [ ]:
num = int(input("Ingresa un número: "))
es_primo = num > 1 and all(num % i != 0 for i in range(2, int(num**0.5) + 1))
print(f"El número {num} {'es primo' if es_primo else 'no es primo'}")

Ingresa un número: 28
El número 28 no es primo

In [ ]:
import random
print(f"Número aleatorio: {random.randint(1, 100)}")

Número aleatorio: 72

In [ ]:
num = input("Ingresa un número: ")
suma = sum(int(digito) for digito in num)
print(f"La suma de los dígitos es {suma}")

Ingresa un número: 222
La suma de los dígitos es 6

In [ ]:
numeros = [10, 20, 30, 40, 50]
for num in numeros:
    print(num)

10
20
30
40
50

In [ ]:
numeros = list(map(int, input("Ingresa números separados por espacio: ").split()))
print(f"Números ordenados: {sorted(numeros)}")

Ingresa números separados por espacio: 5 56 78 56 12
Números ordenados: [5, 12, 56, 56, 78]

 1. Imprimir un mensaje
Escribe un programa que imprima "Hola, mundo" en la consola

In [ ]:
print (f'"Hola,mundo"')

"Hola,mundo"

 2. Operaciones básicas
Pide al usuario dos números y muestra su suma, resta, multiplicación y división.

In [ ]:
num1  = int ( input ( "Ingresa el primer número:"))
num2  = int ( input ( "Ingresa el segundo número:"))
suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2

print (f"La suma es {suma}")
print (f"La resta es {resta}")
print (f"La multiplicacion es {multiplicacion}")
print (f"La division es {division}")

Ingresa el primer número:2
Ingresa el segundo número:8
La suma es 10
La resta es -6
La multiplicacion es 16
La division es 0.25

Conversión de temperaturas
Convierte una temperatura ingresada en grados Celsius a Fahrenheit.

In [ ]:
celsius = float ( input ( " Ingrese la temperatura en celsius: "))
conversion = 1.8 * celsius + 32

print( f" La conversión de celsius a fahrenheit es : {conversion}")

 Ingrese la temperatura en celsius :23
 La conversión de celsius a fahrenheit es :  73.4

Determinar si un número es par o impar
Pide un número al usuario e indica si es par o impar.

In [ ]:
numero = int (input ("Ingrese un numero: "))
if numero % 2 == 0 :
   print ( "El numero es par")
else:
   print ("El numero es impar")

Ingrese un numero: 23
El numero es impar

Calcular el área de un triángulo
Solicita la base y la altura de un triángulo y calcula su área.

In [ ]:
base = float( input ("Ingrese la base del triángulo: "))
altura = float ( input ("Ingrese la altura del triágulo: "))
area = ( base * altura ) / 2

print (f"El área del triángulo es: {area}")

Ingrese la base del triángulo: 3
Ingrese la altura del triágulo: 12
El área del triángulo es: 18.0

Calcular el índice de masa corporal (IMC)
Pide al usuario su peso y altura y calcula su IMC usando la fórmula:

𝐼
𝑀
𝐶
=
peso (kg)
altura
2
(
𝑚
2
)
IMC=
altura
2
 (m
2
 )
peso (kg)
​

In [ ]:
peso = float ( input (" Ingrese su peso (kg): "))
altura = float ( input (" Ingrese su altura (cm): "))
imc = peso / altura ** 2

print (f"Su imc es: {imc}")

 Ingrese su peso (kg): 67
 Ingrese su altura (cm): 150
Su imc es: 0.002977777777777778

Contar vocales en una palabra
Pide al usuario una palabra y cuenta cuántas vocales contiene.
En este caso utilizaremos .**lower** porque sirve par convertir toda la palabra en minúsicula para que la comparación sea insensible a las mayúsculas.

In [ ]:
palabra = input (" Ingrese una palabra: ").lower()
vocales = "aeiou"
contador = sum( 1 for letra  in palabra if letra in vocales )

print (f" Hay {contador} en la palabra {palabra}")

 Ingrese una palabra: hipopotamo
 Hay 5 en la palabra hipopotamo

Invertir una cadena
Solicita una palabra y muéstrala al revés.
Se utiliza la tecnica **slicing** ( rebanado de cadena para invertir el texto)

In [ ]:
palabra = input (" Ingrese una palabra: ")
palabra_invertida = palabra [::-1]

print (f"La palabra invertida es: {palabra_invertida}")


Genera un número aleatorio entre 1 y 100 e imprímelo.
En este caso se importará la biblioteca **random** , que es un módulo estándar de Python que proporciona funciones para generar número aleatorio.

y **random.randint (a,b)** genera un número entero aleatorio entre a y b incluyendo ambos extremos , en este caso genera un número aleatorio entre 1 al 100

In [ ]:
import random

print (f" Numero aleatorio : {random.randint (1,100)}")

 Numero aleatorio : 52

Tabla de multiplicar
Pide un número y muestra su tabla de multiplicar del 1 al 10.

In [ ]:
numero = int (input (" Ingrese un numero: "))
for i in range (1,11):
  print (f" {numero} x {i} = {numero*i}")

 Ingrese un numero: 10
 10 x 1 = 10
 10 x 2 = 20
 10 x 3 = 30
 10 x 4 = 40
 10 x 5 = 50
 10 x 6 = 60
 10 x 7 = 70
 10 x 8 = 80
 10 x 9 = 90
 10 x 10 = 100

Determinar si un número es primo :
Pide un número e indica si es primo o no.

In [ ]:
num = int (input ("Ingrese un número: "))
primo = num > 1 and all( num % i != 0 for i in range (2,int(num*0.5) +1) )

print (f"El número {num} {'es primo' if primo else 'no es primo'}")

Ingrese un número: 8
El número 8 no es primo

Sumar los dígitos de un número:
Pide al usuario un número y suma sus dígitos.

In [ ]:
numero = (input ("Ingrese un número: "))
suma = sum(int(digito) for digito in numero )

print (f"La suma del {numero} es: {suma}")

Ingrese un número: 5688
La suma del 5688 es: 27

Contar palabras en una oración:
Pide una oración y cuenta cuántas palabras tiene.
utilizaremos **oracion.split** ( separa una cadena de texto en una lista de palabras usando espacio en blanco como separadores por defecto.

In [ ]:
oracion = input ("Ingrese una oración: ")
palabras = oracion.split()

print (f"La oración tiene {len(palabras)} palabras")

Ordenar una lista de números :
Pide al usuario varios números separados por espacio, ordénalos y muéstralos.

In [ ]:
numero = list (map (int ,input (" Ingrese numeros separados por un espacio").split ()))
print (f"Números ordenados: {sorted(numero)}")

 Ingrese numeros separados por un espacio1 12 14 12 14 16 178
Números ordenados: [1, 12, 12, 14, 14, 16, 178]

 Conversión de millas a kilómetros:
Convierte millas a kilómetros (1 milla = 1.60934 km).

In [ ]:
mun = float ( input (" Ingrese las millas: "))
kilometros = num * 1.60934

print (f"La conversión de millas a kilometros es: {kilometros}")

 Ingrese las millas: 1344
La conversión de millas a kilometros es: 12.87472

Factorial de un número:
Pide un número entero positivo y calcula su factorial.

In [ ]:
num = int (input ("Ingrese un numero entero positivo "))
factorial = 1
for i in range (1,num+1):
  factorial *= i

print (f"El factorial de {num} es: {factorial}")

Ingrese un numero entero positivo 5
El factorial de 5 es: 120

 Adivinar un número:

Genera un número aleatorio entre 1 y 50 y deja que el usuario intente adivinarlo hasta que lo consiga

In [ ]:
import random

numero_secreto = random.randint(1, 50)
intentos = 0

print("¡Bienvenido al juego de adivinar el número!")
print("Estoy pensando en un número entre 1 y 50.")

while True:
    intentos += 1
    try:
        guess = int(input("Ingresa tu adivinanza: "))
    except ValueError:
        print("Entrada inválida. Por favor, ingresa un número.")
        continue

    if guess < numero_secreto:
        print("Demasiado bajo. Intenta de nuevo.")
    elif guess > numero_secreto:
        print("Demasiado alto. Intenta de nuevo.") # This line was not indented properly
    else:
        print(f"¡Felicidades! Adivinaste el número en {intentos} intentos.")
        break

¡Bienvenido al juego de adivinar el número!
Estoy pensando en un número entre 1 y 50.
Ingresa tu adivinanza: 45
Demasiado alto. Intenta de nuevo.
Ingresa tu adivinanza: 23
Demasiado alto. Intenta de nuevo.
Ingresa tu adivinanza: 20
Demasiado alto. Intenta de nuevo.
Ingresa tu adivinanza: 12
¡Felicidades! Adivinaste el número en 4 intentos.

Contador de letras en una palabra:
Pide al usuario una palabra y una letra, cuenta cuántas veces aparece la letra en la palabra

In [ ]:
palabra = input("Ingrese una palabra: ")
letra = input("Ingrese una letra: ")

contador = sum(1 for letra_palabra in palabra if letra_palabra == letra)

print(f"La letra '{letra}' aparece {contador} veces en la palabra '{palabra}'.")

Ingrese una palabra: hola
Ingrese una letra: h
La letra 'h' aparece 1 veces en la palabra 'hola'.

 Calculadora de edad en días:
Pide al usuario su edad y muestra cuántos días ha vivido aproximadamente (sin contar años bisiestos).

In [ ]:
edad = int(input("Ingrese su edad: "))
dias_vividos = edad * 365  # Assuming 365 days in a year

print(f"Usted ha vivido aproximadamente {dias_vividos} días.")

Ingrese su edad: 1998
Usted ha vivido aproximadamente 729270 días.

Escribe un programa que imprima tu nombre en pantalla.

In [ ]:
print (f'"Lilina Estrella Hernandez Torres"')

"Lilina Estrella Hernandez Torres"

Pide dos números al usuario y muestra la suma.

In [ ]:
num1 = int(input ("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

suma = num1 + num2

print (f"La suma es: {suma}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 6
La suma es: 9

Solicita dos números y muestra su producto.

In [ ]:
num1 = int(input ("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segundo numero: "))

producto = num1 * num2

print (f"El producto es : {producto}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 5
El producto es : 15

Pide un número y muestra su doble.

In [ ]:
num = int(input ("Ingrese un numero: "))
doble = num * 2

print (f"El doble es: {doble}")

Ingrese un numero: 2
El doble es: 4

Pide al usuario un número y muéstralo en pantalla.

In [ ]:
usuario = int(input("Ingrese un numero: "))
print (f"El numero ingresado es: {usuario}")

Ingrese un numero: 931616354
El numero ingresado es: 931616354

Solicita el nombre del usuario y muéstralo en pantalla.

In [ ]:
usuario  = input ("Ingrese su nombre: ")

print (f"El nombre del usuario es: {usuario}")

Ingrese su nombre: Amado carlos hernandez torres
El nombre del usuario es: Amado carlos hernandez torres

Pide dos palabras al usuario y muestra la combinación de ambas.

In [ ]:
palabra1 = input("Ingrese una palabra: ")
palabra2 = input("Ingrese una palabra: ")

print(f"La combinación de las palabras es: {palabra1} {palabra2}")

Ingrese una palabra: Te
Ingrese una palabra: Amo
La combinación de las palabras es: Te Amo

Pide un número al usuario y muestra su cuadrado.

In [ ]:
num =int(input("Ingrese un numero: "))
cuadrado = num **2

print (f"El cuadrado de {num} es: {cuadrado}")

Ingrese un numero: 7
El cuadrado de 7 es: 49

Solicita dos números y muestra el resultado de la división.

In [ ]:
num1 = float(input("Ingrese el primer numero: "))
num2 = float(input("Ingrese el segundo numero: "))

division = num1 / num2
print (f"La division es: {division}")

Ingrese el primer numero: 3
Ingrese el segundo numero: 3
La division es: 1.0

Pide una frase y muéstrala en pantalla.

In [ ]:
frase = input("Ingrese una frase: ")
print (f"La frase es: {frase}")

Ingrese una frase: No quiero rendirme
La frase es: No quiero rendirme

Pide un número entero y conviértelo a un número decimal.

In [ ]:
numero = int(input("Ingrese un numero entero: "))
numero_decimal = float(numero)

print(f"El numero decimal es: {numero_decimal}")

Ingrese un numero entero: 4
El numero decimal es: 4.0

Declara una variable con cualquier valor y muestra su tipo con type().

In [ ]:
variable = int(input("Ingrese el numero: "))
print (type(variable))

Ingrese el numero: 3
<class 'int'>

Pide un número y verifica si es mayor que 10.

In [ ]:
numero = float (input("Ingrese un numero: "))
if numero >10:
  print (f"{numero} es mayor que 10")
else:
  print (f"{numero} es menor que 10")

Ingrese un numero: 9.99
9.99 es menor que 10

Pide dos números y muestra cuál es mayor o si son iguales.

In [ ]:
num1 = int(input("Ingrese el primer numero: "))
num2 = int(input("Ingrese el segudno numero: "))


if num1 > num2 :
  print (f"{num1} es mayor ")

elif num1 < num2:
  print (f"{num2} es el mayor")

else:
  print ("Son iguales")

Ingrese el primer numero: 10
Ingrese el segudno numero: 10
Son iguales

Pide una palabra y muestra su primer carácter.

In [ ]:
palabra  = input ( "Ingrese la palabra: ")
print (f"El primer caracter es : {palabra[0]}")

Ingrese la palabra: estrella
El primer caracter es : e

## Pide una palabra y muestra su último carácter.

In [ ]:
palabra  = input ( "Ingrese la palabra: ")
print (f"El ultimo caracter es : {palabra[-1]}")

Ingrese la palabra: hola
El ultimo caracter es : a

Pide un texto y muéstralo tres veces.

In [ ]:
palabras = input("Ingrese un texto: ")
texto = palabras * 3

print (f"{texto}")

Ingrese un texto: amor
amoramoramor

Pide una palabra y muestra cuántos caracteres tiene.

In [ ]:
usuario = input("Ingrese una palabra: ")
print (f"La palabra {usuario} tiene {len(usuario)} caracteres")

Ingrese una palabra: estrella
La palabra estrella  tiene 9 caracteres

Declara dos listas con números y muestra la unión de ambas.

In [ ]:
lista1 = [1, 2, 3, 4, 5]
lista2 = [3, 4, 5, 6, 7]

# Concatenamos las listas para obtener la unión (conserva duplicados)
lista_union = lista1 + lista2

print(f"La unión de las listas es: {lista_union}")

La unión de las listas es: [1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

Declara una lista de números y suma todos sus elementos.

In [ ]:
numeros = [1, 2, 3, 4, 5]  # Declara la lista de números

suma_total = sum(numeros)  # Usa la función sum() para sumar los elementos

print(f"La suma de los elementos de la lista es: {suma_total}")  # Imprime el resultado

La suma de los elementos de la lista es: 15

Pide al usuario un número e indica si es positivo, negativo o cero.

In [ ]:
num = float(input("Ingrese un numero: "))

if num < 0:
  print (f"{num} es negativo")

elif num > 0:
  print (f"{num} es positivo")

else:
  print (f"{num} es cero")

Ingrese un numero: -6
-6.0 es negativo

Pide al usuario una cantidad de segundos y convierte el tiempo en horas, minutos y segundos.

In [ ]:
num = int(input("Ingrese la cantidad de segundo:"))

horas = num //3600
segundos_restantes = num % 3600
minutos = segundos_restantes // 60
segundos = segundos_restantes % 6

print(f"{num} segundos equivalen a {horas} horas, {minutos} minutos y {segundos} segundos.")

Ingrese la cantidad de segundo:20000
20000 segundos equivalen a 5 horas, 33 minutos y 2 segundos.

Pide al usuario un año y determina si es bisiesto o no.

In [ ]:
num = int(input("Ingrese el año: "))

if (num % 4 == 0 and num % 100 != 0) or (num % 400 == 0):
  print (f"{num} es un año bisiesto")

else:
  print (f"{num} no es un año bisiesto")

Pide las coordenadas (x1, y1) y (x2, y2) y calcula la distancia entre ellos usando la fórmula:

distancia
=
(
𝑥
2
−
𝑥
1
)
2
+
(
𝑦
2
−
𝑦
1
)
2
distancia=
(x2−x1)
2
 +(y2−y1)
2

​

In [ ]:
import math

# Pedir las coordenadas al usuario
x1 = float(input("Ingrese la coordenada x1: "))
y1 = float(input("Ingrese la coordenada y1: "))
x2 = float(input("Ingrese la coordenada x2: "))
y2 = float(input("Ingrese la coordenada y2: "))

# Calcular la distancia usando la fórmula
distancia = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Mostrar la distancia
print(f"La distancia entre los puntos es: {distancia}")

Ingrese la coordenada x1: 12
Ingrese la coordenada y1: 23
Ingrese la coordenada x2: 45
Ingrese la coordenada y2: 12
La distancia entre los puntos es: 34.785054261852174

Pide al usuario una frase y una letra, cuenta cuántas veces aparece esa letra.

In [ ]:
frase = input("Ingrese una frase: ")
letra = input("Ingrese una letra: ")

print (f"La letra {letra} aparece  {frase.count(letra)} veces en '{frase}'")

Ingrese una frase: estrella
Ingrese una letra: e
La letra e aparece  2 veces en 'estrella'